In [2]:
import unicodecsv
def read_csv(filename):
    with open(filename, 'rb') as f:
        reader = unicodecsv.DictReader(f)
        return list(reader)
daily_engagement = read_csv('C:\Users\Serg\Documents\Aprendiendo\Data Analysis\Module 3 - Intro to Data Analysis\daily_engagement_full.csv')

In [3]:
def get_unique_students(data):
    unique_students = set()
    for data_point in data:
        unique_students.add(data_point['acct'])
    return unique_students
unique_engagement_students = get_unique_students(daily_engagement)
len(unique_engagement_students)

1237

In [8]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
daily_engagement = pd.read_csv('C:\Users\Serg\Documents\Aprendiendo\Data Analysis\Module 3 - Intro to Data Analysis\daily_engagement_full.csv')

In [3]:
len(daily_engagement['acct'].unique())

1237

In [6]:
enrollments_df = pd.DataFrame({
    'account_key':[448,448,448,448,448],
    'status': ['canceled', 'canceled', 'canceled', 'canceled', 'current'],
    'join_date': ['2014-11-10', '2014-11-10', '2014-11-10', '2014-11-10', '2014-11-10'],
    'days_to_cancel': [65, 5, 0, 0, np.nan],
    'is_udacity': [True, True, True, True, True]    
})

In [9]:
print(enrollments_df)

   account_key  days_to_cancel  is_udacity   join_date    status
0          448            65.0        True  2014-11-10  canceled
1          448             5.0        True  2014-11-10  canceled
2          448             0.0        True  2014-11-10  canceled
3          448             0.0        True  2014-11-10  canceled
4          448             NaN        True  2014-11-10   current

In [10]:
enrollments_df

   account_key  days_to_cancel  is_udacity   join_date    status
0          448            65.0        True  2014-11-10  canceled
1          448             5.0        True  2014-11-10  canceled
2          448             0.0        True  2014-11-10  canceled
3          448             0.0        True  2014-11-10  canceled
4          448             NaN        True  2014-11-10   current

In [11]:
enrollments_df.mean(axis=0)

account_key       448.0
days_to_cancel     17.5
is_udacity          1.0
dtype: float64

In [14]:
enrollments_df.mean(axis=1)

0    171.333333
1    151.333333
2    149.666667
3    149.666667
4    224.500000
dtype: float64